{% extends "layout.html" %} <!-- Layout dosyasını kullanır -->

{% block body %} <!-- Ana içerik bloğunun başlangıcı -->
{% from "includes/formhelpers.html" import render_field %} <!-- Form alanlarını render etmek için yardımcı fonksiyonu dahil eder -->

<h3>Kayıt Olun...</h3> <!-- Sayfa başlığı -->

<hr> <!-- Başlık ile içerik arasına çizgi ekler -->

<form method="post"> <!-- Form gönderim yöntemi post -->
    {{ render_field(form.name,class = "form-control") }} <!-- İsim alanını form-control sınıfıyla render eder -->
    {{ render_field(form.username,class = "form-control") }} <!-- Kullanıcı adı alanını form-control sınıfıyla render eder -->
    {{ render_field(form.email,class = "form-control") }} <!-- Email alanını form-control sınıfıyla render eder -->
    {{ render_field(form.password,class = "form-control") }} <!-- Parola alanını form-control sınıfıyla render eder -->
    {{ render_field(form.confirm,class = "form-control") }} <!-- Parola doğrulama alanını form-control sınıfıyla render eder -->

    <button type="submit" class="btn btn-primary">Kayıt Ol</button> <!-- Kayıt ol butonu -->
</form>

{% endblock  %} <!-- Ana içerik bloğunun sonu -->
